interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/talos-rit/commander
  response:
    body:
      string: '{"id":859491541,"node_id":"R_kgDOMzrM1Q","name":"commander","full_name":"talos-rit/commander","private":false,"owner":{"login":"talos-rit","id":180594679,"node_id":"O_kgDOCsOn9w","avatar_url":"https://avatars.githubusercontent.com/u/180594679?v=4","gravatar_id":"","url":"https://api.github.com/users/talos-rit","html_url":"https://github.com/talos-rit","followers_url":"https://api.github.com/users/talos-rit/followers","following_url":"https://api.github.com/users/talos-rit/following{/other_user}","gists_url":"https://api.github.com/users/talos-rit/gists{/gist_id}","starred_url":"https://api.github.com/users/talos-rit/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/talos-rit/subscriptions","organizations_url":"https://api.github.com/users/talos-rit/orgs","repos_url":"https://api.github.com/users/talos-rit/repos","events_url":"https://api.github.com/users/talos-rit/events{/privacy}","received_events_url":"https://api.github.com/users/talos-rit/received_events","type":"Organization","user_view_type":"public","site_admin":false},"html_url":"https://github.com/talos-rit/commander","description":"Allows
        robot arms to be repurposed as camera arms.","fork":false,"url":"https://api.github.com/repos/talos-rit/commander","forks_url":"https://api.github.com/repos/talos-rit/commander/forks","keys_url":"https://api.github.com/repos/talos-rit/commander/keys{/key_id}","collaborators_url":"https://api.github.com/repos/talos-rit/commander/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/talos-rit/commander/teams","hooks_url":"https://api.github.com/repos/talos-rit/commander/hooks","issue_events_url":"https://api.github.com/repos/talos-rit/commander/issues/events{/number}","events_url":"https://api.github.com/repos/talos-rit/commander/events","assignees_url":"https://api.github.com/repos/talos-rit/commander/assignees{/user}","branches_url":"https://api.github.com/repos/talos-rit/commander/branches{/branch}","tags_url":"https://api.github.com/repos/talos-rit/commander/tags","blobs_url":"https://api.github.com/repos/talos-rit/commander/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/talos-rit/commander/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/talos-rit/commander/git/refs{/sha}","trees_url":"https://api.github.com/repos/talos-rit/commander/git/trees{/sha}","statuses_url":"https://api.github.com/repos/talos-rit/commander/statuses/{sha}","languages_url":"https://api.github.com/repos/talos-rit/commander/languages","stargazers_url":"https://api.github.com/repos/talos-rit/commander/stargazers","contributors_url":"https://api.github.com/repos/talos-rit/commander/contributors","subscribers_url":"https://api.github.com/repos/talos-rit/commander/subscribers","subscription_url":"https://api.github.com/repos/talos-rit/commander/subscription","commits_url":"https://api.github.com/repos/talos-rit/commander/commits{/sha}","git_commits_url":"https://api.github.com/repos/talos-rit/commander/git/commits{/sha}","comments_url":"https://api.github.com/repos/talos-rit/commander/comments{/number}","issue_comment_url":"https://api.github.com/repos/talos-rit/commander/issues/comments{/number}","contents_url":"https://api.github.com/repos/talos-rit/commander/contents/{+path}","compare_url":"https://api.github.com/repos/talos-rit/commander/compare/{base}...{head}","merges_url":"https://api.github.com/repos/talos-rit/commander/merges","archive_url":"https://api.github.com/repos/talos-rit/commander/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/talos-rit/commander/downloads","issues_url":"https://api.github.com/repos/talos-rit/commander/issues{/number}","pulls_url":"https://api.github.com/repos/talos-rit/commander/pulls{/number}","milestones_url":"https://api.github.com/repos/talos-rit/commander/milestones{/number}","notifications_url":"https://api.github.com/repos/talos-rit/commander/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/talos-rit/commander/labels{/name}","releases_url":"https://api.github.com/repos/talos-rit/commander/releases{/id}","deployments_url":"https://api.github.com/repos/talos-rit/commander/deployments","created_at":"2024-09-18T18:49:26Z","updated_at":"2025-10-02T16:28:33Z","pushed_at":"2025-10-02T16:28:27Z","git_url":"git://github.com/talos-rit/commander.git","ssh_url":"git@github.com:talos-rit/commander.git","clone_url":"https://github.com/talos-rit/commander.git","svn_url":"https://github.com/talos-rit/commander","homepage":null,"size":141533,"stargazers_count":0,"watchers_count":0,"language":"Python","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":32,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":0,"open_issues":32,"watchers":0,"default_branch":"main","permissions":{"admin":false,"maintain":false,"push":true,"triage":true,"pull":true},"custom_properties":{},"organization":{"login":"talos-rit","id":180594679,"node_id":"O_kgDOCsOn9w","avatar_url":"https://avatars.githubusercontent.com/u/180594679?v=4","gravatar_id":"","url":"https://api.github.com/users/talos-rit","html_url":"https://github.com/talos-rit","followers_url":"https://api.github.com/users/talos-rit/followers","following_url":"https://api.github.com/users/talos-rit/following{/other_user}","gists_url":"https://api.github.com/users/talos-rit/gists{/gist_id}","starred_url":"https://api.github.com/users/talos-rit/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/talos-rit/subscriptions","organizations_url":"https://api.github.com/users/talos-rit/orgs","repos_url":"https://api.github.com/users/talos-rit/repos","events_url":"https://api.github.com/users/talos-rit/events{/privacy}","received_events_url":"https://api.github.com/users/talos-rit/received_events","type":"Organization","user_view_type":"public","site_admin":false},"network_count":0,"subscribers_count":0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"b5776334048b265ed30b3220789e8abb3ad5084a02f3d7dd9e0900523166c222"
      Last-Modified:
      - Thu, 02 Oct 2025 16:28:33 GMT
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4982'
      X-RateLimit-Reset:
      - '1759425775'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '18'
      github-authentication-token-expiration:
      - 2025-11-01 13:05:11 -0400
      x-accepted-github-permissions:
      - metadata=read
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/talos-rit/commander/issues?state=all
  response:
    body:
      string: '[{"url":"https://api.github.com/repos/talos-rit/commander/issues/112","repository_url":"https://api.github.com/repos/talos-rit/commander","labels_url":"https://api.github.com/repos/talos-rit/commander/issues/112/labels{/name}","comments_url":"https://api.github.com/repos/talos-rit/commander/issues/112/comments","events_url":"https://api.github.com/repos/talos-rit/commander/issues/112/events","html_url":"https://github.com/talos-rit/commander/pull/112","id":3478112233,"node_id":"PR_kwDOMzrM1c6rzKAx","number":112,"title":"Config
        refactor","user":{"login":"frey808","id":57374784,"node_id":"MDQ6VXNlcjU3Mzc0Nzg0","avatar_url":"https://avatars.githubusercontent.com/u/57374784?v=4","gravatar_id":"","url":"https://api.github.com/users/frey808","html_url":"https://github.com/frey808","followers_url":"https://api.github.com/users/frey808/followers","following_url":"https://api.github.com/users/frey808/following{/other_user}","gists_url":"https://api.github.com/users/frey808/gists{/gist_id}","starred_url":"https://api.github.com/users/frey808/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/frey808/subscriptions","organizations_url":"https://api.github.com/users/frey808/orgs","repos_url":"https://api.github.com/users/frey808/repos","events_url":"https://api.github.com/users/frey808/events{/privacy}","received_events_url":"https://api.github.com/users/frey808/received_events","type":"User","user_view_type":"public","site_admin":false},"labels":[],"state":"open","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":0,"created_at":"2025-10-02T16:17:07Z","updated_at":"2025-10-02T16:17:07Z","closed_at":null,"author_association":"MEMBER","type":null,"active_lock_reason":null,"draft":false,"pull_request":{"url":"https://api.github.com/repos/talos-rit/commander/pulls/112","html_url":"https://github.com/talos-rit/commander/pull/112","diff_url":"https://github.com/talos-rit/commander/pull/112.diff","patch_url":"https://github.com/talos-rit/commander/pull/112.patch","merged_at":null},"body":"#
        Description\r\n-Removed configurations from config.py to make isolate source
        of truth, and put all config files into a config directory.\r\n-Added support
        for local config override files that can be gitignored\r\n\r\n# Metrics\r\n-
        PR Confidence value(3): Not sure if I was able to update all the config references,
        specifically ones modified in the fix/connection_classes branch after this
        branch was created\r\n","closed_by":null,"reactions":{"url":"https://api.github.com/repos/talos-rit/commander/issues/112/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"timeline_url":"https://api.github.com/repos/talos-rit/commander/issues/112/timeline","performed_via_github_app":null,"state_reason":null},{"url":"https://api.github.com/repos/talos-rit/commander/issues/111","repository_url":"https://api.github.com/repos/talos-rit/commander","labels_url":"https://api.github.com/repos/talos-rit/commander/issues/111/labels{/name}","comments_url":"https://api.github.com/repos/talos-rit/commander/issues/111/comments","events_url":"https://api.github.com/repos/talos-rit/commander/issues/111/events","html_url":"https://github.com/talos-rit/commander/issues/111","id":3459728615,"node_id":"I_kwDOMzrM[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/talos-rit/commander/issues/111
  response:
    body:
      string: '{"url":"https://api.github.com/repos/talos-rit/commander/issues/111","repository_url":"https://api.github.com/repos/talos-rit/commander","labels_url":"https://api.github.com/repos/talos-rit/commander/issues/111/labels{/name}","comments_url":"https://api.github.com/repos/talos-rit/commander/issues/111/comments","events_url":"https://api.g[...]
[...]
