interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/talos-rit/commander
  response:
    body:
      string: '{"id":859491541,"node_id":"R_kgDOMzrM1Q","name":"commander","full_name":"talos-rit/commander","private":false,"owner":{"login":"talos-rit","id":180594679,"node_id":"O_kgDOCsOn9w","avatar_url":"https://avatars.githubusercontent.com/u/180594679?v=4","gravatar_id":"","url":"https://api.github.com/users/talos-rit","html_url":"https://github.com/talos-rit","followers_url":"https://api.github.com/users/talos-rit/followers","following_url":"https://api.github.com/users/talos-rit/following{/other_user}","gists_url":"https://api.github.com/users/talos-rit/gists{/gist_id}","starred_url":"https://api.github.com/users/talos-rit/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/talos-rit/subscriptions","organizations_url":"https://api.github.com/users/talos-rit/orgs","repos_url":"https://api.github.com/users/talos-rit/repos","events_url":"https://api.github.com/users/talos-rit/events{/privacy}","received_events_url":"https://api.github.com/users/talos-rit/received_events","type":"Organization","user_view_type":"public","site_admin":false},"html_url":"https://github.com/talos-rit/commander","description":"Allows
        robot arms to be repurposed as camera arms.","fork":false,"url":"https://api.github.com/repos/talos-rit/commander","forks_url":"https://api.github.com/repos/talos-rit/commander/forks","keys_url":"https://api.github.com/repos/talos-rit/commander/keys{/key_id}","collaborators_url":"https://api.github.com/repos/talos-rit/commander/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/talos-rit/commander/teams","hooks_url":"https://api.github.com/repos/talos-rit/commander/hooks","issue_events_url":"https://api.github.com/repos/talos-rit/commander/issues/events{/number}","events_url":"https://api.github.com/repos/talos-rit/commander/events","assignees_url":"https://api.github.com/repos/talos-rit/commander/assignees{/user}","branches_url":"https://api.github.com/repos/talos-rit/commander/branches{/branch}","tags_url":"https://api.github.com/repos/talos-rit/commander/tags","blobs_url":"https://api.github.com/repos/talos-rit/commander/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/talos-rit/commander/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/talos-rit/commander/git/refs{/sha}","trees_url":"https://api.github.com/repos/talos-rit/commander/git/trees{/sha}","statuses_url":"https://api.github.com/repos/talos-rit/commander/statuses/{sha}","languages_url":"https://api.github.com/repos/talos-rit/commander/languages","stargazers_url":"https://api.github.com/repos/talos-rit/commander/stargazers","contributors_url":"https://api.github.com/repos/talos-rit/commander/contributors","subscribers_url":"https://api.github.com/repos/talos-rit/commander/subscribers","subscription_url":"https://api.github.com/repos/talos-rit/commander/subscription","commits_url":"https://api.github.com/repos/talos-rit/commander/commits{/sha}","git_commits_url":"https://api.github.com/repos/talos-rit/commander/git/commits{/sha}","comments_url":"https://api.github.com/repos/talos-rit/commander/comments{/number}","issue_comment_url":"https://api.github.com/repos/talos-rit/commander/issues/comments{/number}","contents_url":"https://api.github.com/repos/talos-rit/commander/contents/{+path}","compare_url":"https://api.github.com/repos/talos-rit/commander/compare/{base}...{head}","merges_url":"https://api.github.com/repos/talos-rit/commander/merges","archive_url":"https://api.github.com/repos/talos-rit/commander/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/talos-rit/commander/downloads","issues_url":"https://api.github.com/repos/talos-rit/commander/issues{/number}","pulls_url":"https://api.github.com/repos/talos-rit/commander/pulls{/number}","milestones_url":"https://api.github.com/repos/talos-rit/commander/milestones{/number}","notifications_url":"https://api.github.com/repos/talos-rit/commander/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/talos-rit/commander/labels{/name}","releases_url":"https://api.github.com/repos/talos-rit/commander/releases{/id}","deployments_url":"https://api.github.com/repos/talos-rit/commander/deployments","created_at":"2024-09-18T18:49:26Z","updated_at":"2025-10-02T16:28:33Z","pushed_at":"2025-10-02T16:28:27Z","git_url":"git://github.com/talos-rit/commander.git","ssh_url":"git@github.com:talos-rit/commander.git","clone_url":"https://github.com/talos-rit/commander.git","svn_url":"https://github.com/talos-rit/commander","homepage":null,"size":141533,"stargazers_count":0,"watchers_count":0,"language":"Python","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":32,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":0,"open_issues":32,"watchers":0,"default_branch":"main","permissions":{"admin":false,"maintain":false,"push":true,"triage":true,"pull":true},"custom_properties":{},"organization":{"login":"talos-rit","id":180594679,"node_id":"O_kgDOCsOn9w","avatar_url":"https://avatars.githubusercontent.com/u/180594679?v=4","gravatar_id":"","url":"https://api.github.com/users/talos-rit","html_url":"https://github.com/talos-rit","followers_url":"https://api.github.com/users/talos-rit/followers","following_url":"https://api.github.com/users/talos-rit/following{/other_user}","gists_url":"https://api.github.com/users/talos-rit/gists{/gist_id}","starred_url":"https://api.github.com/users/talos-rit/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/talos-rit/subscriptions","organizations_url":"https://api.github.com/users/talos-rit/orgs","repos_url":"https://api.github.com/users/talos-rit/repos","events_url":"https://api.github.com/users/talos-rit/events{/privacy}","received_events_url":"https://api.github.com/users/talos-rit/received_events","type":"Organization","user_view_type":"public","site_admin":false},"network_count":0,"subscribers_count":0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"b5776334048b265ed30b3220789e8abb3ad5084a02f3d7dd9e0900523166c222"
      Last-Modified:
      - Thu, 02 Oct 2025 16:28:33 GMT
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4999'
      X-RateLimit-Reset:
      - '1759429981'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '1'
      github-authentication-token-expiration:
      - 2025-11-01 13:05:11 -0400
      x-accepted-github-permissions:
      - metadata=read
      x-github-api-version-selected:
      - '2022-11-28'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/talos-rit/commander/issues?state=closed
  response:
    body:
      string: '[{"url":"https://api.github.com/repos/talos-rit/commander/issues/106","repository_url":"https://api.github.com/repos/talos-rit/commander","labels_url":"https://api.github.com/repos/talos-rit/commander/issues/106/labels{/name}","comments_url":"https://api.github.com/repos/talos-rit/commander/issues/106/comments","events_url":"https://api.github.com/repos/talos-rit/commander/issues/106/events","html_url":"https://github.com/talos-rit/commander/pull/106","id":3459695199,"node_id":"PR_kwDOMzrM1c6q09bC","number":106,"title":"Fix/connection
        classes","user":{"login":"hiromon0125","id":61609289,"node_id":"MDQ6VXNlcjYxNjA5Mjg5","avatar_url":"https://avatars.githubusercontent.com/u/61609289?v=4","gravatar_id":"","url":"https://api.github.com/users/hiromon0125","html_url":"https://github.com/hiromon0125","followers_url":"https://api.github.com/users/hiromon0125/followers","following_url":"https://api.github.com/users/hiromon0125/following{/other_user}","gists_url":"https://api.github.com/users/hiromon0125/gists{/gist_id}","starred_url":"https://api.github.com/users/hiromon0125/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/hiromon0125/subscriptions","organizations_url":"https://api.github.com/users/hiromon0125/orgs","repos_url":"https://api.github.com/users/hiromon0125/repos","events_url":"https://api.github.com/users/hiromon0125/events{/privacy}","received_events_url":"https://api.github.com/users/hiromon0125/received_events","type":"User","user_view_type":"public","site_admin":false},"labels":[],"state":"closed","locked":false,"assignee":{"login":"hiromon0125","id":61609289,"node_id":"MDQ6VXNlcjYxNjA5Mjg5","avatar_url":"https://avatars.githubusercontent.com/u/61609289?v=4","gravatar_id":"","url":"https://api.github.com/users/hiromon0125","html_url":"https://github.com/hiromon0125","followers_url":"https://api.github.com/users/hiromon0125/followers","following_url":"https://api.github.com/users/hiromon0125/following{/other_user}","gists_url":"https://api.github.com/users/hiromon0125/gists{/gist_id}","starred_url":"https://api.github.com/users/hiromon0125/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/hiromon0125/subscriptions","organizations_url":"https://api.github.com/users/hiromon0125/orgs","repos_url":"https://api.github.com/users/hiromon0125/repos","events_url":"https://api.github.com/users/hiromon0125/events{/privacy}","received_events_url":"https://api.github.com/users/hiromon0125/received_events","type":"User","user_view_type":"public","site_admin":false},"assignees":[{"login":"hiromon0125","id":61609289,"node_id":"MDQ6VXNlcjYxNjA5Mjg5","avatar_url":"https://avatars.githubusercontent.com/u/61609289?v=4","gravatar_id":"","url":"https://api.github.com/users/hiromon0125","html_url":"https://github.com/hiromon0125","followers_url":"https://api.github.com/users/hiromon0125/followers","following_url":"https://api.github.com/users/hiromon0125/following{/other_user}","gists_url":"https://api.github.com/users/hiromon0125/gists{/gist_id}","starred_url":"https://api.github.com/users/hiromon0125/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/hiromon0125/subscriptions","organizations_url":"https://api.github.com/users/hiromon0125/orgs","repos_url":"https://api.github.com/users/hiromon0125/repos","events_url":"https://api.github.com/users/hiromon0125/events{/privacy}","received_events_url":"https://api.github.com/users/hiromon0125/received_events","type":"User","user_view_type":"public","site_admin":false}],"milestone":null,"comments":3,"created_at":"2025-09-27T04:09:40Z","updated_at":"2025-10-02T16:28:28Z","closed_at":"2025-10-02T16:28:27Z","author_association":"MEMBER","type":null,"active_lock_reason":null,"draft":false,"pull_request":{"url":"https://api.github.com/repos/talos-rit/commander/pulls/106","html_url":"https://github.com/talos-rit/commander/pull/106","diff_url":"https://github.com/talos-rit/commander/pull/106.diff","patch_url":"https://github.com/talos-rit/commander/pull/106.patch","merged_at":"2025-10-02T16:28:27Z"},"body":"#
        Description\r\n\r\nFollowing modules have been refactored\r\n* config.py\r\n*
        connections.py\r\n* base_director.py\r\n* continuous_director.py\r\n* discrete_director.py\r\n*
        manual_interface.py\r\n* mock_operator.py\r\n* publisher.py\r\n* basic_tracker.py\r\n*
        keep_away_director.py\r\n* keep_away_tracker.py\r\n* media_pipe_pose.py\r\n*
        media_pipe_tracker.py\r\n* tracker.py\r\n* yolo_tracker.py\r\n* utils.py\r\n\r\nThis
   [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/talos-rit/commander/issues/97
  response:
    body:
      string: '{"url":"https://api.github.com/repos/talos-rit/commander/issues/97","repository_url":"https://api.github.com/repos/talos-rit/commander","labels_url":"https://api.github.com/repos/talos-rit/commander/issues/97/labels{/name}","comments_url":"https://api.github.com/repos/talos-rit/commander/issues/97/comments","events_url":"https://api.githu[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repositories/859491541/issues?state=closed&after=Y3Vyc29yOnYyOpLPAAABk1yR9pDOoCoVjg%3D%3D&per_page=30&page=2
  response:
    body:
      string: '[{"url":"https://api.github.com/repos/talos-rit/commander/issues/53","repository_url":"https://api.github.com/repos/talos-rit/commander","labels_url":"https://api.github.com/repos/talos-rit/commander/issues/53/labels{/name}","comments_url":"https://api.github.com/rep[...]
